.about__wrapper {
  width: 100vw;
  height: auto;
}

.about__container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
}

.spacing-about {
  margin-top: 3rem;
}

.about__left-container {
  grid-column: 2 / span 4;
  grid-row: 1 / span 5;
}

.about__section__text {
  font-family: $font;
  color: $col-text;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}
.about__text {
  font-family: $font;
  color: $col-text;
}

.middle__container {
  grid-column: 7/8;
  grid-row: 1 / span 3;
}

.about__right-container {
  grid-column: 9 / span 3;
  grid-row: 1 / span 5;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.split-col {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  flex: 1;
}

.figure__container {
  margin-bottom: 1.2rem;
}

.about-image-caption {
  font-size: 0.5rem;
}
