@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");

$col-hero: #b76935;
$col-text: #143642;
$col-links: #38413f;
$col-alt-bg: #a56336;
$col-bg: #f3e9e2;
