* {
  margin: 0;
  display: border-box;
  overflow: visible;
}

html {
  scroll-snap-type: y mandatory;
}

ul {
  list-style: none;
  font-family: "Recursive", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Recursive", sans-serif;
  color: black;
  cursor: pointer;
}

a:active {
  color: black;
}
a:visited {
  color: black;
}

p {
  font-size: 1rem;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Recursive", sans-serif;
}
