* {
  margin: 0;
  display: border-box;
  overflow-x: hidden;
}

body {
}

ul {
  list-style: none;
  font-family: "gangster", sans-serif;
}

a {
  text-decoration: none;
  font-family: "gangster", sans-serif;
  &active {
    color: black;
  }
  &visited {
    color: black;
  }
}

p {
  font-size: 1rem;
}

@font-face;
