.header {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background: white;
}

.nav__list-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: inline-block;
  padding: 0;
}

.nav__list-item {
  border-left: black 1px solid;
  padding: 0 1rem 0 1rem;
}
