.hero__container {
  display: flex;
  align-self: center;
  height: 100vh;
  width: auto;
  background: $col-hero;
  justify-content: center;
  align-content: center;
  scroll-snap-align: start;
}

.hero__text__container {
  margin-top: 10rem;
  width: 75vw;
  align-self: center;
  text-align: center;
}

.hero__font {
  font-family: $font;
  font-weight: 800;
  font-size: 3rem;
  color: $col-bg;
  font-variation-settings: "MONO" 1, "CASL" 0.81, "wght" 1000, "CRSV" 1;
}

.contact__link {
  &:hover {
    color: $col-bg;
  }
}

.contact__links {
  display: flex;
}

.contact__container {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  align-self: center;
  border-left: 6px solid black;
}

.project__scroll {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5rem;
}

.pointer__container {
  fill: $col-bg;
  width: 3%;
  height: 3%;
  transform: rotate(180deg);
  align-self: center;
  cursor: pointer;
}
