.hero__container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  height: 20vw;
  width: auto;
  padding: 0 2rem 0 2rem;
  background: $col-hero;
}

.hero__text__container {
  width: 50vw;
  align-self: center;
}

.hero__font {
  font-family: "Recursive", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: $col-bg;
}

.contact__links {
  display: flex;
}

.contact__container {
  align-self: center;
}

.contact__link {
  background-size: 1px 200px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  height: 100px;
  padding: 0 0.25rem 0 0.25rem;
}

.contact__link:hover {
  color: white;
}
