.icon__link {
  align-self: center;
  color: $col-links;
}
.icon__link:hover {
  fill: $col-bg;
}

.icon__container {
  align-self: center;
  display: flex;
  width: 20%;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}

.icon {
  height: 100%;
  width: 100%;
}

.icon-stack {
  height: 60%;
  width: 60%;
  fill: $col-bg;
  padding: 0.5rem;
  &:hover {
    fill: $col-links;
  }
}

.icon-stack__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
