.icon__link--nav {
  align-self: center;
  color: $col-links;
  padding-right: 2rem;
  &:hover {
    fill: $col-alt-bg;
  }
}

.icon__container {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5rem;
}

.icon {
  height: 100%;
  width: 100%;
}

.icon-stack {
  height: 80%;
  width: 80%;
  fill: $col-bg;
  padding: 0.5rem;
  &:hover {
    fill: $col-links;
  }
}

.icon-stack__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
