nav {
  padding: 0.5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: $col-bg;
  position: fixed;
  overflow: hidden;
}
.nav__list {
  align-self: center;
}
.nav__item {
  display: inline-block;
  padding: 0 2rem 0 2rem;
}

.logo .nav-link:hover {
  color: $col-alt-bg;
  align-self: center;
}
