.nav__menu {
  background: #f3e9e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  padding: 1rem;
}

.nav {
  display: inline;
  padding-left: 2rem;
}

.nav__item {
  padding-right: rem;
}
