.project__wrapper {
  width: 100vh;
  height: 33vh;
  background: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project__text__container {
  display: flex;
  flex-direction: column;
  width: 50vh;
}
.project__image__container {
  display: flex;
  width: 5rem;
  padding: 3rem;
}

.img__size__container {
}
