@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "gangster", sans-serif;
  src: url("../assets/fonts/gangster.woff") format("woff");
}

@font-face {
  font-family: "gangster-bold", sans-serif;
  src: url("../assets/fonts/gangster-bold.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "gangster-light", sans-serif;
  src: url("../assets/fonts/gangster-light.woff") format("woff");
}

@font-face {
  font-family: "canvas", serif;
  src: url("../assets/fonts/canvas.otf") format("otf");
}
